GDEI_URL_SLASH = /
GDEI_API_BASE_URL_DEV = http:$(GDEI_URL_SLASH)$(GDEI_URL_SLASH)localhost:8080/api
GDEI_API_BASE_URL_STAGING = https:$(GDEI_URL_SLASH)$(GDEI_URL_SLASH)gdeiassistant.azurewebsites.net/api
GDEI_API_BASE_URL_PRODUCTION = https:$(GDEI_URL_SLASH)$(GDEI_URL_SLASH)gdeiassistant.cn/api
GDEI_DEFAULT_NETWORK_ENVIRONMENT = dev
GDEI_ALLOW_RUNTIME_DEBUG_OPTIONS = YES
